<h1>Editing Storage</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-sm-1">
    <%= link_to '查看', @storage, class: "btn btn-default" %>
  </div>
  <div class="col-sm-1">
    <%= link_to '返回', storages_path, class: "btn btn-default"%>
  </div>
</div>
