<h1>Editing Item</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-sm-1">
    <%= link_to '查看', @item, class: "btn btn-default"%>
  </div>
  <div class="col-sm-1">
    <%= link_to '返回', items_path, class: "btn btn-default" %>
  </div>
</div>
